[submodule "instant-ngp"]
	path = instant-ngp
	url = https://github.com/NVlabs/instant-ngp
[submodule "YoloNerf/lib/glfw"]
	path = YoloNerf/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "YoloNerf/lib/pthreads"]
	path = YoloNerf/lib/pthreads
	url = https://github.com/coapp-packages/pthreads
[submodule "YoloNerf/notebooks/libs/yolov5"]
	path = YoloNerf/notebooks/libs/yolov5
	url = https://github.com/ultralytics/yolov5
